
.toggle-wrapper{
    grid-row: 2/2;
    cursor: pointer;
    display: inline-block;
    height: 5rem;
    position: relative;
    width: 80px;
}

@keyframes rotate_in_cw {
    0% { transform: rotate(0deg) }
    100% { transform: rotate(45deg) }
}
@keyframes rotate_out_cw {
    0% { transform: rotate(45deg) }
    100% { transform: rotate(0deg) }
}
@keyframes rotate_in_ccw {
    0% { transform: rotate(0deg) }
    100% { transform: rotate(-45deg) }
}
@keyframes rotate_out_ccw {
    0% { transform: rotate(-45deg) }
    100% { transform: rotate(0deg) }
}
@keyframes draw_in {
    50% { stroke-dashoffset: 100%; }
    100% { stroke-dashoffset: 0; }
}
@keyframes draw_out {
    50% { stroke-dashoffset: 0; }
    100% { stroke-dashoffset: 100%; }
}


.svg-1__open {
    animation: rotate_in_cw 0.8s;
    animation-fill-mode: forwards;
}
.svg-1__open .MenuToggle1_svg__line-1 {
    animation: draw_out 0.8s;
    animation-fill-mode: forwards;
}

.svg-1__open .MenuToggle1_svg__line-3 {
    animation: draw_out 0.8s;
    animation-fill-mode: forwards;
}


.svg-1__default {
    animation: rotate_out_cw 0.8s;
    animation-fill-mode: forwards;
}
.svg-1__default .MenuToggle1_svg__line-1 {
    animation: draw_in 0.8s;
    animation-fill-mode: forwards;
}

.svg-1__default .MenuToggle1_svg__line-3 {
    animation: draw_in 0.8s;
    animation-fill-mode: forwards;
}


.svg-2__open {
    animation: rotate_in_ccw 0.8s;
    animation-fill-mode: forwards;
}

.svg-2__default {
    animation: rotate_out_ccw 0.8s;
    animation-fill-mode: forwards;
}

/* default line offsets */
.svg-1__open .MenuToggle1_svg__line-1, .svg-1__open .MenuToggle1_svg__line-3{
    stroke-dashoffset: 0;
}


.svg-1__default .MenuToggle1_svg__line-1,.svg-1__default .MenuToggle1_svg__line-3 {
    stroke-dashoffset: 100%;
}


.burger-menu svg {
    height: 50%;
    overflow: visible;
    width: 50%;
    position: absolute;
    top: 0;
    left: 20%;
}

.burger-menu svg path {
    stroke: white;
    stroke-dasharray: 100%;
    stroke-linecap: round;
    stroke-miterlimit: 10;
    stroke-width: 20px;
}


.burger-menu{
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 5% 1fr 2fr 0.1fr 0.2fr;
    background-color: #151B1F;
    grid-column: 1/2;
    position: fixed;
    z-index: 1;
    top: 0;
    transition: all 0.5s;
    width: 80px;
    height: 100vh;

}
.burger__open{
    grid-template-columns: 0.7fr 1fr 1fr 1fr;
    grid-template-rows: 5% 1fr 1fr 1fr 0.1fr;
    width: 50%;
    opacity: 1;
}

.burger-menu .lang{
    text-align: center;
    grid-row: 4/5;
    height: 50%;
    color: #0EC261;
    cursor: pointer;
}
.burger-menu .lang span:hover,.burger-menu .lang span:active{
    padding: 15%;
    border: 3px white solid;
    border-radius: 50%;
    color: white;
}

.burger-menu .lang span:active{
    color: #0EC261;
}

.burger__open .lang{
    display: none;
}
.burger__template{
    height: 100%;
    width: 80px;
}

.burger-info,.social-links{
    display: none;
}
.burger__open .burger-info{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    grid-row: 3/4;
    grid-column: 2/3;
    color: white;
}

.burger__open .burger-info a{
    color: white;
}

.burger__open .burger-info a:visited {
    color: white;
}

.burger__open .burger-info span{
    font-size: 32px;
    padding: 5% 0;
    cursor: pointer;
}

.burger-info span:hover{
    color: #0EC261;
}


.burger__open .social-links{
    display: flex;
    grid-row: 4/4;
    grid-column: 2/3;
}

.social-links a{
    padding-right: 9%;
}

.social-links img{
    background-color: white;
    padding: 5%;
    border-radius: 50%;
}

.burger-page{
    grid-column: 1/2;
    grid-row: 1/2;
}


@media screen and (max-width: 1023px) {
    .burger__open{
        width: 100% !important;
    }
}

@media screen and (max-width: 767px){
    .burger-menu{
        grid-row: 2/3;
        grid-column: 1/2;
        background-color: white;
        height: 40px;
        width: 60px;
    }
    .burger__template{
        display: none;
    }
    .burger-menu .lang{
        display: none;
    }

    .burger__open{
        position: absolute;
        background-color:#151B1F ;
        height: 100vh;
        margin-top: 0;
    }
    .burger__open .svg-1__open path,.burger__open .svg-2__open path{
        stroke: white;
    }
    .burger-menu .svg-1__default path,.burger-menu .svg-2__default path{
        stroke: black;
    }
    .burger__open .burger-info span{
        font-size: 22px;
    }
    .burger__open .lang{
        display: block;
        grid-row: 5/5;
        padding-bottom: 35%;
    }
}

@media screen and (max-width: 767px) and (min-width: 320px){
    .burger-menu .toggle-wrapper{
        width: 60px;
    }
}