@import "../Location/location";

.total-content{
  grid-area: 3/2/4/3;
  img{
    width: 50%;
    height: 30%;
  }
  &-info{
    display: flex;
    flex-direction: column;

    .number{
      border: $second-color 1px solid;
      padding: 2px 0;
      border-radius: 5px;
      text-align: center;
    }
    .text{
      padding-top: 5px;
      span{font-weight: bold;}
    }
  }
}

@media screen and (max-width: 768px){
  .total-content{
    grid-column: 2/4;
    .total-content-info{
      h1{font-size: 18px;}
    }
    img{
      height: 150px;
      width: 60%;
    }
  }
}

@media screen and (max-width: 425px){
  .total-content{
      img{
        height: 100px;
        width: 80%;
        align-self: center;
      }
  }
}