@import "../../index";

.home-page{
    display: grid;
    grid-template: 1fr/0.1fr 1fr 1fr;
}

.main-content{
    display: grid;
    grid-template: 5% 1fr 2fr 0.1fr 0.2fr/ 0.2fr 1fr 1fr 0.5fr 0.2fr;
    grid-column: 2/3;
    z-index: 0;

    .header{
        display: flex;
        justify-content: space-between;
        grid-area: 2/2/2/5;

        &-title{
            font-size: 30px;
            color: $main-color;
            float: left;
            margin-top: 0;
        }
        &-map{
            grid-column: 4/5;
            color: $third-color;
        }
    }
    .footer{
        display: flex;
        justify-content: space-between;
        grid-area: 4/2/4/5;

        &-tel a{
            color: $second-color;

            &:hover{color: $main-color}
        }
        &-title{
            color: $third-color;
        }
    }
    .heading{
        grid-area: 3/2/3/5;

        h1{
            margin: 0;
            font-size: 70px;
        }
        .sub-title{
            color: $main-color;
        }
        h4{
            font-size: 26px;
            color: $third-color;
        }
        &-btn{
            margin-top: 20px;
            padding: 16px 60px;
            background: linear-gradient(90deg,$main-color,#039F67);
            color: white;
            font-size: 18px;
            border-radius: 5px;
            border: none;

            a{
                color: white;
            }
        }
    }
}

@media screen and (max-width: 1023px){
    .main-content{
        grid-column: 2/4;
    }
}

@media screen and (max-width: 767px) {
    %style-flex {
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        align-items: flex-end;
    }
    .home-page {
        height: 100vh;
        grid-template-columns: 2fr 2fr;
        grid-template-rows: 5% 1fr 2fr 0.1fr 0.2fr;
    }
    .main-content {
        grid-column: 1/3;
        grid-row: 1/6;

        .header {
            @extend %style-flex;
        }

        .footer {
            @extend %style-flex;
            font-size: 13px;
            grid-row: 4/6;
            grid-column: 1/6;
            background-color: $second-color;
            flex-direction: column-reverse;
            padding-right: 15px;
            padding-bottom: 14px;
            grid-row-gap: 10px;

            &-tel a {
                color: #0EC261;
            }
        }

        .heading {
            grid-column: 2/5;

            h4 {
                font-size: 18px;
            }

            h1 {
                font-size: 32px;
            }

            &-btn {
                padding: 20px;
                width: 100%;
            }
        }

    }
}