body{
    margin: 0;
    overflow: hidden;
    /*width: 100vw;*/
    /*height: 100vh;*/
}

*{

    font-family: Roboto, serif;
}
a{
    text-decoration: none;
}
button{
    cursor: pointer;
}

button:hover{
    filter: brightness(90%);
}

button:active{
    filter: brightness(80%);
}

button:visited{
    filter: brightness(90%);
}

